a {
	margin: 0.2em;
	
}
body {
	background-color: whitesmoke; /*gainsboro*/
	font-family: Ubuntu, Verdana;
}

.anav {
	margin: 0.2em;
	clear: left;
}

.h {
	font-size: 1.5em;
	font-weight: bold;
}

.hh {
	font-size: 1.4em;
	font-weight: bold;
}

.hhh {
	font-size: 1.3em;
	font-weight: bold;
}

.hhhh {
	font-size: 1.2em;
}

.t {
	font-size: 1.1em;
}

#content {
	font-size: 1.1em;
	float: right;
	width: 80%;
}

#navbar {
	font-size: 0.9em;
	text-align: center;
	float: left;
	margin: 1em;
	border-style: dotted;
}